<section class="ftco-section d-flex justify-content-around ">
  <div class="container d-flex justify-content-center align-items-center  bg-dark bg-opacity-10">
    <div class="d-flex flex-wrap justify-content-around " >
      <div class="col-12  d-flex justify-content-around flex-wrap gap-3" >
        <div *ngFor="let item of announcements"  class="col-3  border-2 border-danger bg-danger bg-opacity-10 d-flex justify-content-center rounded-4 " >
          <div *ngIf="item.hotel">
            <div id="content" class="d-flex"  >
              <div class="p-2 d-flex flex-column col-11">
                <h2 class="ms-3">{{item.hotel.name}}</h2>
                <img class="col-12" src="https://images.unsplash.com/photo-1571896349842-33c89424de2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
                <p class="text-wrap" >{{item.hotel.description}} the premier online platform for booking hotels, flights, and rental cars. With YouBooking, you can easily search and compare prices for a wide variety of travel options, and book your perfect trip with just a few clicks. Our user-friendly interface and 24/7 customer support make it easy to plan and book your next vacation or business trip. So why wait? Start planning your dream vacation today with YouBooking!</p>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
