<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item active">
      <a class="nav-link "  routerLink="/dashboard">
        <i class="fa fa-dashboard" aria-hidden="true"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->
    <li class="nav-item active">
      <a class="nav-link "   routerLink="/hotels">
        <span><i class="fa fa-hotel" aria-hidden="true"></i> hotels</span>
      </a>
    </li><!-- End hotel Nav -->
    <li class="nav-item active">
      <a class="nav-link "   routerLink="/clients">
        <span><i class="fa fa-users" aria-hidden="true"></i> clients</span>
      </a>
    </li><!-- End Clients Nav -->
    <li class="nav-item active">
      <a class="nav-link "   routerLink="/managers">
        <span><i class="fa fa-user" aria-hidden="true"></i> managers</span>
      </a>
    </li><!-- End managers Nav -->


  </ul>

</aside><!-- End Sidebar-->
